.hidden {
    display: none;
}
#account-book {
    table-layout: auto;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th {
    border: 1px solid #444444;
    padding: 10px;
    background-color: darkgray;
}
td {
    border: 1px solid #444444;
    padding: 10px;
}